.HeaderWrap {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  color: #292936;
  height: 64px;
  border-bottom: 1px solid #cacad9;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.12), 0 2px 3px 0 rgba(0, 0, 0, 0.16);
  margin-bottom: 0;
  overflow: hidden;
  position: relative;
  z-index: 899;
  padding-left: 24px;
  padding-right: 24px;
}
.btnReset {
  background-color: #fff;
  padding: 8px 32px;
  border-radius: 24px;
  cursor: pointer;
  transition: all 0.2s;
  margin: 8px 8px 8px 8px;
  border: 2px solid #cacad9;
  color: #292936;
  font-weight: 700;
  font-size: 16px;
}
.btnReset:hover {
  background-color: rgb(238, 246, 255);
}
